
* {
	font-family: Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;

}

#header1{
	background-color: #E5E5E5;
	border-bottom: 1px solid black;
	height: 69px;
	width: 997px;
	padding-left:25px;
}

#header2{
	background-color: #CCEBF5;
	height: 60px;
	width: 967px;
	padding-left:55px;
}
	#header2 a {
		text-decoration: none;		
		color: gray;
		font-size: 11px;
		font-weight: bold;
		padding: 20px;
	}
	
	#header2 li {
		border-left: 1px solid white;
		display: inline;
		height: 11px;
		list-style-type: none;
	}

#container{
	background-color: black;
	height: 581px;
	padding-left: 15px;
	width: 1007px;
}


	#left-image {
		background-color:#80FFFF;
		border: 6px solid white;
		display: inline-block;
		height:253px;
		margin-left:15px;
		margin-top:15px;
		width:378px;
		vertical-align: top;
	}

	#right-text {
		background-color: gray;
		display: inline-block;
		height: 265px;
		margin-left:10px;
		margin-top:15px;
		width: 555px;
		vertical-align: top;
	}

	#right-text p {
		color: white;
		font-size: 12px;
		padding: 0px 20px 10px 10px;
	}

	#mid-text {
		display: inline-block;
		height: 20px;
		margin-left:15px;
		margin-top:10px;
		width: 750px;
		vertical-align: top;
	}

	#mid-text p {
		color: #EBD699;
		display: inline-block;
		font-size: 12px;
		padding: 0px 20px 10px 10px;
		vertical-align: top;
	}

	.services {
		background-color: white;
		display: inline-block;
		height: 250px;
		margin-left:15px;
		margin-top:10px;
		width: 225px;
		vertical-align: top;
	}

	.services p {
		color: black;
		font-size: 11px;
		padding: 5px 25px 10px 15px;
	}

	.services a {
		background-color: #FFD119;
		border: 2px solid black;
		color: black;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
		height: 11px;
		margin-left:115px;
		margin-bottom:25px;
		padding: 2px 5px 5px 10px;
		text-decoration: none;
		width: 71px;
		vertical-align: bottom;	
	}

h3 {
	color: black;
	display: inline-block;
	font-size: 14px;
	margin: 40px 0px 5px 350px;
	vertical-align: top;
}

h5 {
	background-color: #FFD119;
	color: black;
	font-size: 12px;
	padding: 5px 0px 5px 10px;
}

h6 {
	color: white;
	font-size: 12px;
	padding: 10px;
}

.ppc-emphasis {
	font-weight: bold;
}
